/**{outline: red solid 1px;}*/
/*------------------------------------------------------------------------------------HEADER*/
header
{
	background: url(../image/large.jpg);
	background-size: cover;
	color: #FFF;
}
header a{
	color: #FFF;
}
.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0,0,0,.1);
    background: #3B5998;
}
nav li a{
	display: block;
	padding: 15px 15px;
	transition: all 0.2s;
	border-radius: 6px;
}
nav li a:hover, nav li a:focus{
	text-decoration: none;
	outline: none;
	background: #a2caf0;
	border-bottom: 4px solid #3f85c6;
}

#main-navigation
{
	z-index: 1;
	position: absolute;
	left:  0px;
	margin: 10px 0 0 0;
}
#main-navigation ul
{
	background: rgba(0,0,0,0.5);
	list-style: none;
	padding: 50px;
	border-radius: 5px;

}
.logo
{
	margin-top: 12px;
}
.frase
{
	margin: 100px 0;
	text-align: center;
}
.fondo-azul
{
	background: rgba(90, 107, 136, 0.6);
	padding-top: 10px ;
}
.header-banner
{
	background: rgba(87, 149, 255, 0.79);
	padding: 30px 0;
}
.header-banner h3
{
	margin: 0;
}
.banner-button
{
	background: none;
	border:1px solid #FFF;
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 20px;

}
/*------------------------------------------------------------------------------------SERVICES*/
.services{
    margin-top: 80px;
}
.icon-container{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    line-height: 120px;
    font-size: 50px;
    text-align: center;
    box-shadow: -2px 2px 10px rgba(0,0,0,0.1);
    border-radius: 100%;
    color: lightskyblue;
}
.services h2{
    color: lightblue;
    margin: 30px;
}
.services h4{
    color: #6083a0;
    margin: 25px;
}
/*---------------------------------------------------------SEPARADOR
*/
.vertical-divider
{
	border-top:1px solid #CCC;
	text-align: center;
}
.vertical-divider img
{
	position: absolute;
	z-index: 1;
	transform: translateY(-50%) translateX(-50%);
}
/*------------------------------------------------------------------------------------VIDEO.*/
.ejemplo h2{
    color: lightblue;
    margin-bottom: 40px;
}
.ejemplo .logo{
    width: 250px;
}
.ejemplo .flecha{
    position: relative;
    left: 180px;
    width: 60px;
    margin: 40px;
}
/*------------------------------------------------------------------------------------PASOS.*/
.services, .ejemplo{
	margin: 100px 0;
}

.pasos .row{
	background: url(../image/sec-2.jpg) left center;
	background-size: contain;
}
.pasos .col-pasos-info
{
	background: #FFF;
}
.pasos .pasos-info
{
	background: #FFF;
	padding: 5px;
	margin: 0 0 0 30px;
}
.step1, .step2, .step3
{
	position: relative;
}
.step3
{
	margin-bottom: 50px;
}

.icon-blue
{
	border-radius:40px;
	background: #299ff4;
	padding: 10px;
	font-size: 25px;
	color: #FFF;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	margin-left: -75px;
}
/*------------------------------------------------------------------------------------RAZONES DE USARLO.*/
.razones h2{
    color: lightblue;
    margin-bottom: 40px;
}
.razones .logo{
    width: 250px;
}
.razones p{
    text-align: justify;
}
.razones span{
    color: #66a1db;
}

/*------------------------------------------------------------------------------------FOOTER.*/
footer{
    background-color: #2a3541;padding: 20px;
}
footer p, small{
    color: white;padding: 5px;
}
footer span{
    color: #2d5882;
}
footer i{
    color: #2d5882;
    font-size: 25px;
    position: relative;
    left: 125px;
    padding: 10px 5px;
}

/*------------------------------------------------------------------------------------CONTACTO.*/
.formulario{
    background-image: url(../image/large.jpg);
    background-size: 100%;
    height: 600px;
    
}
.formulario h2{
    margin-bottom: -60px;
}
.container-contact{
    background-color: rgba(5,6,7,0.6);
    color: white;
    height: 500px;
    position: relative;
    top: 80px;
    width: 1140px;
    margin-left: 200px;
}
input,  textarea{
    margin-top: 5px;
    margin-left: 6px;
}
label{
    font-size: 16px;
    margin-left: 10px;
}












