*{outline: red solid 1px;}
/*------------------------------------------------------------------------------------HEADER*/
.icon-container{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    line-height: 150px;
    font-size: 60px;
    text-align: center;
    box-shadow: -2px 2px 10px rgba(0,0,0,0.2);
    border-radius: 200px;
    color: skyblue;
}
